<style>

font-family: Helvetica

.MathJax_Display {
  padding: 10px;
}

div.callout {
  color: #000000;
  background-color: #DDDDDD;
  margin: 20px 20px 20px 20px;
  border-style: solid;
  border-width: 2px;
  padding: 10px 10px;
}
.rendered_html {
  color: #2C5494;
  font-family: Helvetica;
  font-size: 140%;
  line-height: 1.1;
  margin: 0.5em 0;
}

.title {
  color: #498AF3;
  font-size: 250%;
  font-weight:bold;
  line-height: 1.2;
  margin: 10px 50px 10px;
}

.subtitle {
  color: #386BBC;
  font-size: 180%;
  font-weight:bold;
  line-height: 1.2;
  margin: 20px 50px 20px;
}

.slide-header, p.slide-header {
  color: #498AF3;
  font-size: 200%;
  font-weight:bold;
  margin: 0px 20px 10px;
  page-break-before: always;
  text-align: center;
}

.rendered_html .code {
  background-color: #999999;
}

.rendered_html h1 {
  color: #498AF3;
  line-height: 1.2;
  margin: 0.15em 0em 0.5em;
  page-break-before: always;
  text-align: center;
}


.rendered_html h2 {
  color: #386BBC;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
}

.rendered_html h3 {
  font-size: 100%;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
}

.rendered_html .definition, .proposition, .proof, .theorem {
    padding-top: 20px;
    color: #222299;
    font-size: 120%;
    font-style: italic;
}

.definition, .proposition, .theorem {
  background-color: #EEEEEE;
  border-style: solid;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
}

.rendered_html .definition::before{
    content: "Definition:";
    background-color: #DDDDDD;
    color: #222299;
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
}

.rendered_html .proposition::before{
    content: "Proposition:";
    background-color: #DDDDDD;
    color: #222299;
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
}

.rendered_html .proof::before{
    content: "Proof:";
    background-color: #DDDDDD;
    color: #222299;
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
}

.rendered_html .theorem::before{
    content: "Theorem:";
    background-color: #DDDDDD;
    color: #222299;
    font-size: 110%;
    font-weight: bold;
    font-style: normal;
}


.rendered_html li {
  line-height: 1.8;
}

.input_prompt, .CodeMirror-lines, .output_area {
  font-family: Consolas;
  font-size: 120%;
}

.gap-above {
  padding-top: 200px;
}

.gap01 {
  padding-top: 10px;
}

.gap05 {
  padding-top: 50px;
}

.gap1 {
  padding-top: 100px;
}

.gap2 {
  padding-top: 200px;
}

.gap3 {
  padding-top: 300px;
}

.emph {
  color: #386BBC;
}

.warn {
  color: red;
}

.center {
  text-align: center;
}

.nb_link {
    padding-bottom: 0.5em;
}

</style>